.p-Home.HeaderFlex1 {
display: flex;
justify-content: space-around;
padding-left: ;
margin-left: ;
padding-right: ;
box-sizing: border-box;
padding-top: 20px;
padding-bottom: 30px;
}
.p-Home.Flex4 {
display: flex;
}
.p-Home.NavFlex5 {
display: flex;
align-content: center;
justify-content: space-around;
row-gap: ;
column-gap: 30px;
padding-left: 25px;
}
.p-Home.Flex7 {
display: flex;
justify-content: space-between;
column-gap: 30px;
}
.p-Home.HomeFlex8 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 40px;
row-gap: ;
padding-left: ;
padding-top: ;
flex-grow: 1;
column-gap: ;
}
.p-Home.Flex9 {
display: flex;
justify-content: flex-start;
flex-wrap: nowrap;
flex-direction: column;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
}
.p-Home.Flex10 {
display: flex;
column-gap: 30px;
}
.p-Home.Div7 {
;
}
.p-Home.Flex11 {
display: flex;
background-color: #ff7629;
}
.p-Home.Flex12 {
display: flex;
flex-direction: column;
row-gap: 20px;
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
padding-top: 75px;
align-items: center;
}
.p-Home.Flex13 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex14 {
display: flex;
flex-direction: column;
row-gap: 40px;
align-content: center;
padding-bottom: 100px;
column-gap: ;
font-family: DM Sans;
align-items: center;
padding-top: 150px;
}
.p-Home.Flex15 {
display: flex;
column-gap: 30px;
font-family: DM Sans;
width: ;
}
.p-Home.Flex16 {
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-style: solid;
border-color: #cecece;
border-width: ;
border-radius: 15px;
}
.p-Home.Flex19 {
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-style: solid;
border-color: #cecece;
border-width: ;
border-radius: 15px;
}
.p-Home.Flex20 {
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-style: solid;
border-color: #cecece;
border-width: ;
border-radius: 15px;
}
.p-Home.Flex21 {
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-style: solid;
border-color: #cecece;
border-width: ;
border-radius: 15px;
}
.p-Home.Flex22 {
display: flex;
row-gap: ;
font-family: DM Sans;
padding-top: ;
padding-bottom: ;
column-gap: 30px;
}
.p-Home.Flex23 {
display: flex;
align-items: flex-start;
justify-content: center;
padding-top: 150px;
padding-bottom: ;
padding-left: 150px;
background-color: #FFF9F3;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
row-gap: 25px;
width: 50%;
flex-grow: 1;
padding-top: 100px;
}
.p-Home.Flex31 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex32 {
display: flex;
align-items: center;
width: 50%;
padding-bottom: 200px;
}
.p-Home.Flex25 {
display: flex;
flex-direction: column;
box-sizing: border-box;
background-color: #ffffff;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
border-radius: 25px;
row-gap: 20px;
font-family: DM Sans;
font-weight: 500;
position: relative;
top: 200px;
right: 300px;
}
.p-Home.Flex26 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex27 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex28 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex33 {
display: flex;
align-items: center;
justify-content: center;
row-gap: 20px;
padding-top: 150px;
flex-direction: column;
height: ;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
row-gap: 30px;
height: ;
}
.p-Home.Flex61 {
display: flex;
column-gap: 20px;
width: ;
}
.p-Home.Flex57 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex58 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex59 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex60 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex66 {
display: flex;
column-gap: 20px;
width: ;
}
.p-Home.Flex62 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex63 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex64 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex65 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex67 {
display: flex;
column-gap: 30px;
justify-content: center;
padding-bottom: 200px;
}
.p-Home.Flex68 {
display: flex;
}
.p-Home.Flex69 {
display: flex;
flex-direction: column;
row-gap: 33px;
justify-content: center;
background-color: #FF7629;
padding-top: 90px;
padding-bottom: 100px;
padding-left: 150px;
}
.p-Home.Flex70 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex71 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
}
.p-Home.Flex72 {
display: flex;
justify-content: center;
align-items: center;
column-gap: 50px;
width: 900px;
}
.p-Home.Flex73 {
display: flex;
flex-direction: column;
row-gap: 10px;
width: 50%;
box-sizing: content-box;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
padding-bottom: 50px;
border-radius: 25px;
border-style: solid;
border-color: #d5d5d5;
min-width: 50%;
}
.p-Home.Flex74 {
display: flex;
column-gap: 8px;
}
.p-Home.Flex75 {
display: flex;
row-gap: 25px;
align-items: center;
padding-top: 10px;
}
.p-Home.Flex76 {
display: flex;
flex-direction: column;
row-gap: 2px;
}
.p-Home.Flex77 {
display: flex;
column-gap: 30px;
padding-top: 50px;
}
.p-Home.Flex78 {
display: flex;
flex-direction: column;
width: 1519px;
background-color: #FFF9F3;
padding-top: 150px;
padding-left: 100px;
padding-bottom: 100px;
padding-right: 100px;
box-sizing: border-box;
}
.p-Home.Flex79 {
display: flex;
justify-content: space-between;
padding-bottom: 30px;
}
.p-Home.Flex80 {
display: flex;
column-gap: 30px;
overflow: hidden;
width: 1319px;
}
.p-Home.Flex81 {
display: flex;
flex-direction: column;
width: 586px;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
overflow: visible;
padding-top: ;
border-top-left-radius: ;
border-top-right-radius: ;
max-width: 50%;
}
.p-Home.Flex82 {
display: flex;
width: 60%;
flex-direction: column;
column-gap: ;
row-gap: 30px;
height: ;
max-width: 50%;
}
.p-Home.Flex83 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
height: ;
width: ;
}
.p-Home.Flex87 {
display: flex;
flex-direction: column;
width: 40%;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
overflow: visible;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Flex88 {
display: flex;
flex-direction: column;
width: 40%;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
overflow: visible;
padding-top: ;
padding-bottom: 20px;
box-sizing: content-box;
}
.p-Home.Flex91 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
height: ;
width: ;
}
.p-Home.Flex89 {
display: flex;
flex-direction: column;
width: 40%;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
overflow: visible;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
width: 40%;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
overflow: visible;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Flex95 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 40px;
row-gap: ;
padding-left: ;
padding-top: ;
flex-grow: 1;
column-gap: ;
}
.p-Home.Flex93 {
display: flex;
background-color: #ff7629;
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
}
.p-Home.Flex99 {
display: flex;
flex-direction: column;
row-gap: 30px;
padding-left: 50px;
padding-right: 50px;
padding-top: 80px;
padding-bottom: 30px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
border-radius: 40px;
border-style: solid;
border-color: #D9D4D4;
position: relative;
right: 140px;
background-color: #ffffff;
}
.p-Home.Flex101 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex102 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex103 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex106 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex104 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex105 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex109 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex108 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex94 {
display: flex;
justify-content: center;
flex-wrap: nowrap;
flex-direction: column;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
padding-bottom: 100px;
width: 50%;
}
.p-Home.Flex96 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex97 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex98 {
display: flex;
column-gap: 20px;
width: 350px;
font-size: 16px;
}
.p-Home.Flex110 {
display: flex;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
padding-left: 100px;
padding-right: 100px;
background-color: #FFF9F3;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex111 {
display: flex;
justify-content: space-between;
align-items: center;
row-gap: ;
width: 100%;
}
.p-Home.Flex112 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex113 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex114 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex115 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex116 {
display: flex;
padding-top: 100px;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 50px;
column-gap: 40px;
justify-content: space-between;
}
.p-Home.Flex117 {
display: flex;
flex-direction: column;
row-gap: 13px;
width: 40%;
}
.p-Home.Flex118 {
display: flex;
column-gap: 8px;
}
.p-Home.Flex119 {
display: flex;
width: ;
}
.p-Home.Flex120 {
display: flex;
flex-direction: column;
column-gap: ;
padding-left: 5px;
padding-right: 5px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
row-gap: 10px;
}
.p-Home.Flex121 {
display: flex;
flex-direction: column;
column-gap: ;
padding-left: 5px;
padding-right: 5px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
row-gap: 10px;
}
.p-Home.Flex122 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex125 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex123 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex124 {
display: flex;
column-gap: 20px;
}
.p-Home.Image3 {
cursor: pointer;
overflow: auto;
}
.p-Home.TextBox177 {
font-family: DM Sans;
font-size: 18px;
color: #696969;
align-self: center;
font-weight: 500;
}
.p-Home.TextBox178 {
font-family: DM Sans;
font-size: 18px;
color: #696969;
align-self: center;
font-weight: 500;
}
.p-Home.TextBox179 {
font-family: DM Sans;
font-size: 18px;
color: #696969;
align-self: center;
font-weight: 500;
}
.p-Home.TextBox180 {
font-family: DM Sans;
font-size: 18px;
color: #696969;
align-self: center;
font-weight: 500;
}
.p-Home.TextBox181 {
font-family: DM Sans;
font-size: 18px;
color: #696969;
align-self: center;
font-weight: 500;
}
.p-Home.Button {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox5 {
font-size: 18px;
color: #757575;
width: 70%;
}
.p-Home.Button5 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox3 {
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.TextBox4 {
color: #FF7629;
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.Image4 {
width: 400px;
border-color: ;
border-radius: 40px;
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;
background-color: ;
position: relative;
right: 200px;
}
.p-Home.TextBox6 {
;
}
.p-Home.Image5 {
overflow: auto;
}
.p-Home.Image6 {
width: 200px;
overflow: auto;
}
.p-Home.Image7 {
overflow: auto;
width: 200px;
}
.p-Home.Image8 {
width: ;
overflow: auto;
}
.p-Home.TextBox7 {
font-size: 25px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox8 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox9 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox10 {
color: #FF7629;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox17 {
color: #FF7629;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox18 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox19 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image12 {
;
}
.p-Home.TextBox20 {
color: #FF7629;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox21 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox22 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image13 {
;
}
.p-Home.TextBox23 {
color: #FF7629;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox24 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox25 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image14 {
;
}
.p-Home.Button7 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button8 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox33 {
width: 80%;
font-family: DM Sans;
font-weight: 500;
color: #8d8d8d;
}
.p-Home.TextBox34 {
font-family: DM Sans;
font-weight: 500;
width: 80%;
color: #8d8d8d;
}
.p-Home.TextBox35 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button10 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image15 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox28 {
font-size: 20px;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox29 {
width: 50%;
color: #8d8d8d;
}
.p-Home.TextBox30 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image17 {
;
}
.p-Home.TextBox31 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image18 {
;
}
.p-Home.TextBox36 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox37 {
width: 50%;
color: #727272;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image36 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox90 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.TextBox91 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox92 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image37 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox93 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.TextBox94 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox95 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image38 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox96 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.TextBox97 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox98 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox99 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox100 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox101 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.Image39 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Image40 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox102 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.TextBox103 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox104 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image41 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox105 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.TextBox106 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox107 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image42 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox108 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.TextBox109 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox110 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox111 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox112 {
width: 250px;
align-self: center;
height: 50px;
max-width: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
min-width: 250px;
}
.p-Home.TextBox113 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #fffbfb;
font-family: DM Sans;
font-weight: 700;
position: relative;
left: 60px;
top: 60px;
font-size: 16px;
}
.p-Home.Image43 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Button11 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button12 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image44 {
width: 100%;
overflow: auto;
}
.p-Home.TextBox114 {
max-width: 80%;
font-family: DM Sans;
font-weight: 700;
font-size: 38px;
color: #ffffff;
}
.p-Home.TextBox115 {
color: #fffafa;
max-width: 80%;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.Button13 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox116 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox117 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
color: #727272;
align-self: auto;
}
.p-Home.Image45 {
width: 50px;
height: 50px;
border-radius: 50px;
background-color: #FF7629;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
.p-Home.Image46 {
width: 50px;
height: 50px;
border-radius: 50px;
background-color: #FF7629;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
.p-Home.TextBox118 {
font-family: DM Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox119 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #716f6f;
}
.p-Home.Image47 {
width: 30px;
height: 30px;
}
.p-Home.Image52 {
width: 30px;
height: 30px;
}
.p-Home.Image53 {
width: 30px;
height: 30px;
}
.p-Home.Image54 {
width: 30px;
height: 30px;
}
.p-Home.Image55 {
width: 30px;
height: 30px;
}
.p-Home.Image56 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox120 {
font-family: DM Sans;
font-weight: 500;
color: #595858;
}
.p-Home.TextBox121 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Button15 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button16 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox122 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox123 {
align-self: center;
font-family: DM Sans;
background-color: #ffffff;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 35px;
}
.p-Home.Image59 {
overflow: visible;
height: 70%;
width: ;
}
.p-Home.TextBox125 {
padding-right: 10px;
padding-left: 20px;
padding-bottom: 30px;
color: #8f8f8f;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.TextBox126 {
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #757575;
}
.p-Home.TextBox127 {
font-family: DM Sans;
padding-left: 20px;
font-weight: 700;
font-size: 26px;
padding-right: 10px;
}
.p-Home.TextBox134 {
font-family: DM Sans;
padding-left: 20px;
font-weight: 700;
font-size: 16px;
padding-right: 10px;
}
.p-Home.TextBox135 {
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #757575;
overflow: visible;
box-sizing: content-box;
}
.p-Home.Image62 {
overflow: visible;
}
.p-Home.TextBox137 {
font-family: DM Sans;
padding-left: 20px;
font-weight: 700;
font-size: 16px;
padding-right: 10px;
}
.p-Home.TextBox138 {
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #757575;
}
.p-Home.Image63 {
overflow: visible;
}
.p-Home.Image64 {
overflow: visible;
}
.p-Home.TextBox140 {
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #757575;
}
.p-Home.TextBox141 {
font-family: DM Sans;
padding-left: 20px;
font-weight: 700;
font-size: 16px;
padding-right: 10px;
}
.p-Home.Image65 {
overflow: visible;
}
.p-Home.TextBox142 {
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #757575;
}
.p-Home.TextBox143 {
font-family: DM Sans;
padding-left: 20px;
font-weight: 700;
font-size: 16px;
padding-right: 10px;
}
.p-Home.TextBox157 {
;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 180px;
align-self: auto;
text-align: center;
}
.p-Home.Button19 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
}
.p-Home.TextBox151 {
;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
}
.p-Home.TextBox152 {
;
}
.p-Home.TextBox153 {
;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
}
.p-Home.TextBox154 {
;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
}
.p-Home.TextBox155 {
;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
}
.p-Home.TextBox156 {
;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
}
.p-Home.TextBox144 {
font-size: 18px;
color: #757575;
width: 70%;
}
.p-Home.TextBox146 {
font-family: DM Sans;
font-weight: 700;
font-size: 34px;
}
.p-Home.TextBox147 {
width: 50%;
color: #8d8d8d;
font-size: 16px;
}
.p-Home.Image67 {
;
}
.p-Home.Image68 {
;
}
.p-Home.TextBox148 {
width: 50%;
color: #8d8d8d;
font-size: 16px;
}
.p-Home.Image69 {
;
}
.p-Home.TextBox149 {
width: 50%;
color: #8d8d8d;
}
.p-Home.TextBox158 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Button20 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 20px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image70 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image71 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image72 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image73 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image74 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image75 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image76 {
overflow: visible;
box-sizing: content-box;
width: 244px;
}
.p-Home.TextBox159 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-Home.Image77 {
width: 30px;
height: 30px;
}
.p-Home.Image78 {
width: 30px;
height: 30px;
}
.p-Home.Image79 {
width: 30px;
height: 30px;
}
.p-Home.Image80 {
width: 30px;
height: 30px;
}
.p-Home.Image81 {
width: 30px;
height: 30px;
}
.p-Home.TextBox160 {
padding-bottom: 20px;
padding-right: 40px;
text-align: left;
font-size: 20px;
color: #000000;
}
.p-Home.TextBox161 {
;
}
.p-Home.TextBox162 {
;
}
.p-Home.TextBox163 {
;
}
.p-Home.TextBox164 {
;
}
.p-Home.TextBox165 {
;
}
.p-Home.TextBox166 {
;
}
.p-Home.TextBox167 {
;
}
.p-Home.TextBox168 {
;
}
.p-Home.TextBox169 {
;
}
.p-Home.TextBox170 {
;
}
.p-Home.TextBox171 {
;
}
.p-Home.TextBox172 {
;
}
.p-Home.TextBox173 {
;
}
.p-Home.TextBox174 {
;
}
.p-Home.TextBox175 {
padding-bottom: 20px;
padding-right: 40px;
text-align: left;
font-size: 20px;
color: #000000;
}
.p-Home.TextBox176 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image82 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image83 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image84 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image85 {
width: 145px;
height: 145px;
border-radius: 25px;
}
